{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>

    <title>
    {% block title%}


    {% endblock title%}
    </title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css?v=1.333"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script defer src="{% static 'js/main.js' %}"></script>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
          height: 50%;
          width: 75%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
      </style>

    {% block header %}
    {% endblock header %}

</head>
<body>

{% block content %}
<body>
    <div class="coverIMG">
        <div class="tc-l mt0 pv3 center">
            <h1 class="f2 f1-l fw2 mb0 lh-title tc"> Stop Killing Us </h1>
        </div>
    </div>
    <div class="map" id="map"></div>
    <script>
        var map;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 44.986656, lng: -93.258133},
            zoom: 8
          });
          map.data.loadGeoJson('https://getjustice.herokuapp.com/static/img/redlining.geojson')
      }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_map_key }}&callback=initMap"></script>
</body>
{% endblock content %}

{% block footer %}

{% endblock footer %}
</html>
