{% extends 'base.html' %}
{% load static %}
<head>

    <title>
    {% block title%}


    {% endblock title%}
    </title>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css?v=1.777"  />

    {% block header %}
    {% endblock header %}

</head>
<body>

{% block content %}
<body>
    <div class="coverIMG">
        <div class="tc-l mt4 mt5-m mt6-l ph3">
            <h1 class="f2 f1-l fw2 mb0 lh-title"> Stop Killing Us </h1>
        </div>
    </div>
</body>
{% endblock content %}

{% block footer %}

{% endblock footer %}
</html>
